.row {
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
}
html, body {
	width: 100%;
	height: 100%;
}


/*Bloque adminidtracion*/

.bloque_administracion {
	background: #23282d;
	text-align: right;
	padding-right: 20px;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.bloque_administracion .img-admin {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	margin: 4px 10px 4px 0;
	text-align: center;
}
.bloque_administracion img {
	width: 100%;
	height: 100%;
}
.menu {
	float: right;
	width: 80px;
	height: 40px;
	margin: 5px 0 4px 0;
	line-height: 40px;
}
.bloque_administracion h5 {
	color: #fff;
	display: inline-block;
	margin-right: 10px;
}
.glyphicon-chevron-down {
	color: #fff;
	font-size: 13px;
}

.contenido_principal {
	margin-top: 50px;
}
/*----------------------*/
/*Panel de control*/
.panel-control {
	background: #23282d;
	position: fixed;
	width: 15%;
	float: left;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
.menu-panel-control {
	z-index: 2;
    padding: 50px 0 0 0;
}
.menu-panel-control ul {
	width: 100%;
	padding-left: 0px;
	list-style: none;
}
.menu-panel-control li {
	left: 20px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.menu-panel-control li:hover {
	background: #09090C;
	color: #0FCDFC;
}
.menu-panel-control .glyphicon {
	margin-right: 10px;
}
.menu-panel-control a {
	text-decoration: none;
	color: #fff;
}
/*-----------------------*/

/*Panel de edicion*/
.panel-edicion {
	background: #fff;
	padding-top: 10px;
	position: relative;
	float: right;
	width: 85%;
	padding-left: 10px;
	padding-right: 10px;
}
/*------------------------*/

/*Seccion Header*/
.header {
	margin-top: 0;
	background: #88FBA3;
}
.fondo-header {
	position: absolute;
	width: 200px;
}
.header p {
	color: #fff;	
}
.titulo-header {
	width: 500px;
	height: 60px;
	font-size: 40px;
	text-align: right;
	margin: auto;
	padding: 20px 20px 20px 0;
}
.subtitulo-header {
	width: 500px;
	font-size: 18px;
	text-align: right;
	margin: auto;
}
.seccion-mensaje-header {
	padding: 10px;
}
.mensaje-header {
	width: 100%;
	margin-top: 30px;
	font-size: 17px;
	font-family: lucida,arial,verdana;
}
.videos-header {
	margin: 20px 0 20px 0;
}

.mensaje-header {
    border: 1px solid #fff;
}
/*-------------------*/

/*Seccion de tipo de evento*/
.tipo-evento {
	height: 200px;
	background: #fff;
	margin: auto;
}
.titulo-tipo-evento {
	width: 700px;
	text-align: center;
	margin: auto;
}
.mensaje-tipo-evento {
	width: 90%;
	margin: auto;
}
.tipo-evento input, .mensaje-tipo-evento {
	background: none;
    border: none;
    color: #666;
    box-shadow: none;
}
/*--------------------*/

/*Seccion Cinco Musicos*/
.cinco-musicos {
	background: #5961F1;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.videos-cinco-musicos {
	color: #fff;
	text-align: left;
}
.videos-cinco-musicos > input,p {
	font-size: 16px;
	
}

/*----------------------*/

/*Seccion grupo completo*/
.grupo-completo {
	background: #D83971;
	padding-top: 10px;
	padding-bottom: 10px;
}
.videos-grupo-completo {
	color: #fff;
	text-align: left;
}
.videos-grupo-completo > input,p {
	font-size: 16px;
}

/*----------------------------*/

/*Seccion vallenato guitarra*/
.vallenato-guitarra {
	background: #CD5DE9;
	padding-top: 10px;
	padding-bottom: 10px;
}

.videos-vallenato-guitarra {
	color: #fff;
	text-align: left;
}
.videos-vallenato-guitarra > input,p {
	font-size: 16px;
}

/*--------------------------*/
/*Seccion mas temas*/

.fondo-mas-temas {
	position: absolute;
	width: 200px;
}
.titulo-mas-temas {
	width: 500px;
	text-align: center;
	color: #666;
	margin: auto;
	margin-bottom: 30px;
}
.mas-temas label {
	color: #666
}
.cambiar-imagen-fondo-mas-temas {
	margin: auto; 
	margin-top: 40px;
	padding: 10px;
	background: #CDCCCC;
	width: 500px;
	text-align: center;
}

/*---------------------------*/
/*Seccion opinion clientes*/

.opinion-clientes {
	text-align: center;
	background: #FBD37D;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}
.titulo-opinion-clientes {
	font-size: 30px;
	width: 600px;
	margin: auto;
	text-align: center;
}
/*-------------------------*/

.items-opi {
	text-align: left;
}

/*seccion redes sociales*/
.redes-sociales {
	padding-top: 20px;
	padding-bottom: 20px;
}
.titulo-red-social {
	width: 600px;
	margin: auto;
	text-align: center;
	font-size: 30px;
	border: none;
    border-bottom: 1px solid #757070;
    border-radius: 0;
	box-shadow: none;

}
.logos-redes {

	width: 30px;
	margin-bottom: 10px;
}
/*-----------------------------*/
/*cambiar imagen de fondo de las secciones */
.cambiar-imagen-fondo {
	margin-top: 40px;
	padding: 10px;
	background: #CDCCCC;
	text-align: center;
}
.imagen-header-fondo {
	width: 400px;
	margin: auto;
}

.fondo-header,
.fondo-vallenato-guitarra,
.fondo-cinco-musicos,
.fondo-grupo-completo,
.fondo-mas-temas
{
	position: relative;
	width: 200px;
	margin-bottom: 10px;

}
/*dar formato a titulos y subtitulos de las secciones */

.titulo-tipo-evento,
.titulo-cinco-musicos,
.titulo-grupo-completo,
.titulo-vallenato-guitarra {

	font-size: 30px;
	text-align: center;
}
.subtitulo-cinco-musicos,
.subtitulo-grupo-completo,
.subtitulo-vallenato-guitarra,
.mensaje-tipo-evento {

	font-size: 18px;
	text-align: center;
}

/*--------------------------------*/
/*Formato para seccion numero de contacto*/

.seccion-numero-telefono {
	margin: 10px 0 20px 0;
	padding: 20px;
}
input.numero-telefono {
	width: 200px;
	margin: auto;
}

/*--------------------------------*/
/*Receteo de inputs y textareas*/
.url-video,
.tipo-evento input,
.mas-temas input,
.vallenato-guitarra input,
.grupo-completo input, 
.cinco-musicos input, 
.header input, .mensaje-header
{
	background: rgba(0,0,0,0.4);
    color: #fff;
    box-shadow: none;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*----------------------------------*/

/*ESTILOS DE FOOTER DE PAGINA EDITAR_PAGINA*/
footer {
	text-align: center;
	color: #fff;
	background: #000;
	font-family: 'Playfair Display', serif;
	width: 100%;
	margin-bottom: 0;

}

footer section h4 {
	font-size: 16px;
}
/*-------------------------*/
form .btn-enviar {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 3000;
	width: 150px;
} 

/*Boton ir arriba*/ 

.boton_subir {
	background: #E11616;
	position: fixed;
	width: 50px;
	height: 50px;
	right: 13px;
	top: 89%;
	z-index: 2000;
	cursor: pointer;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	-webkit-box-shadow: 5px 3px 15px #000;
	-moz-box-shadow: 5px 3px 15px #000;
	box-shadow: 5px 3px 15px #000;
	

}

.boton_subir > .glyphicon {
	position: absolute;
	font-size: 20px;
	top: 15px;
	left: 15px;
	color: #fff;
}
/*-----------------------------------*/

@media (min-width: 300px) and (max-width: 900px) {

	.panel-control {
		position: relative;
		width: 100%;
		height: 150px;
	}
	.menu-panel-control {
		z-index: 2;
		top: 100px;
	    padding: 50px 0 0 0;
	    text-align: center;

	}
	.panel-edicion {
		background: #fff;
		padding-top: 10px;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.titulo-tipo-evento,
	.titulo-opinion-clientes,
	.titulo-red-social,
	.titulo-header,
	.subtitulo-header,
	.mensaje-header,
	.cambiar-imagen-header
	 {

		width:100%;
	}
	.imagen-header-fondo {
		width: 100%;
	}
	.seccion-mensaje-header {
		padding: 0 0 20px 0;
	}
	.grupo-completo {
		height: 1200px;
	}
	
	/*Cambio de posicion*/
	.texto-grupo-completo {
	
		position: relative;
		width: 100%;
		margin-bottom: 20px;

	}
	.videos-grupo-completo {

		position: absolute;
		width: 97%;
		margin-top: 550px;
	}
	.titulo-mas-temas {
		width: 100%;
	}
	.cambiar-imagen-fondo-mas-temas {
		margin: auto; 
		margin-top: 40px;
		padding: 10px;
		background: #CDCCCC;
		width: 100%;
	}
	.titulo-hedaer,
	.titulo-tipo-evento,
	.titulo-cinco-musicos,
	.titulo-grupo-completo,
	.titulo-vallenato-guitarra {

		font-size: 23px;
	}
	.mensaje-header,
	.subtitulo-header,
	.subtitulo-cinco-musicos,
	.subtitulo-grupo-completo,
	.subtitulo-vallenato-guitarra,
	.mensaje-tipo-evento  {

		font-size: 16px;
	}

	form .btn-enviar {
		top: 8px;
		left: 5px;
		width: 100px;
	} 


}