@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

* {
	margin: 0;
	padding: 0;
}
body {
	background: #BEBEBE;
}
form {
	background: #fff;
	width: 350px;
	height: 350px;
	margin: auto;
	padding: 10px;
	margin-top: 50px;	
	display: flex;
	flex-direction: column;
	justify-content: center;

}
@media (min-width: 320px) and (max-width: 400px){
	form {
		width: 300px;
	}
}
.items-form {
	width: 100%;
	align-self: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

h1 {
	font-family: 'EB Garamond', serif;
	font-size: 25px;
	margin-top: 10px;
	text-transform: uppercase;
	color: #4C4B4B;
	text-align: center;
}
.items-form label {
	font-family: 'EB Garamond', serif;
	font-size: 20px;
	color: #4C4B4B;
}

.items-form input {
	border: none;
	height: 20px;
	padding: 5px 0;
	border:1px solid #A0A0A0;
}
.btn {
	width: 100%;
	text-align: center;
	height: 30px;
}
.btn-enviar {
	background: #5D56BD;
	height: 100%;
	border: none;
	color: #fff;
	width: 100px;
}
.btn-enviar:hover {
	background: #3C368F;
}

.mensaje{
	background: #FB4242;
	margin: 50px auto;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	color: #fff;
}